services:
  ollama:
    image: ollama/ollama:latest
    container_name: ollama
    ports:
      - "11434:11434"
    volumes:
      - ollama_data:/root/.ollama
    restart: unless-stopped

  rag-bot:
    build: .
    env_file:
      - .env
    container_name: mini-rag-bot
    depends_on:
      - ollama
    environment:
      - OLLAMA_HOST=http://ollama:11434
    volumes:
      - ./data:/app/data
      - ./db:/app/db
    restart: unless-stopped

volumes:
  ollama_data:
